.header{
    background: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
    margin: 0em;
    height: 25px;
}
.yonghu{
    float: left;
}
.yonghu>span:nth-child(3){
    cursor:pointer;
}
.fix{
    float: left;
}
.fix1{
    float: right;
}
.clearfix::after{
    clear:both;
    display: block;
    content: " ";
}
.header>div{
    width: 90em;
    height: 1.6em;
    margin: 0 auto;

}
.header a{
    text-decoration: none;
    margin: 0em 0.5em;
    font-size:1.2em;
}
.header a:link{color:black}
.header a:visited{color:black}
.header a:hover{color:rgb(255, 72, 47)}