.kuang{
    width: 90em;
    margin: 0 auto;
    margin-bottom: 40px;
}
.kuang::after{
    clear:both;
    display: block;
    content: " ";
}

.liebiao{
    width: 236px;
    float: left;
}
.liebiao>dl::after{
    clear:both;
    display: block;
    content: " ";
}
.liebiao dd{
    width: 118px;
    height: 60px;
    float: left;
    margin: 0;
}
.liebiao dd:nth-child(4n+1){
    background: #f7f6f2;
}
.liebiao dd:nth-child(4n+2){
    background: #f7f6f2;
}
.z{
    margin-left: 30px;
    width: 894px;
    float: left;
}