.kuang{
    width: 90em;
    margin: 0 auto;
}
.kuang>.tj::after{
    clear:both;
    display: block;
    content: " ";
}
.biaoti{
    height: 38px;
    border-bottom: 2px solid rgba(90,90,90,0.25);
}
.biaoti>div:first-child{
    width: 4px;
    height: 20px;
    background-color: black;
    float: left; 
    margin-top: 10px;
}
.biaoti>div:nth-child(2){
    font-size: 2em;
    padding-left: 24px;
    height: 40px;
    line-height: 40px;
}
.tj{
    margin-top: 20px;
}
.tj>.xiangxi::after{
    clear:both;
    display: block;
    content: " ";
}
.xiangxi{
    width: 992px;
    height: 539px;
    float: left;
    padding: 0px;
    border: 1px solid #e7e7e7;
}
.tuijian{
    height: 539px;
    width: 236px;
    margin-left: 31px;
    float: left;
}
.tuijian div::after{
    clear:both;
    display: block;
    content: " ";
}
.tuijian:hover .tuijian1{
    color: #e7e7e7!important;
    background-color: rgb(85, 85, 85)!important;
}
.tuijian1{
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    background-color: #e7e7e7;
    /* padding-left: 13px; */
    text-align: center
}
.tuijian>div:nth-child(2) div>span>div{
    background-color: rgb(250, 31, 31)!important;
    color: aliceblue!important;
}
.tuijian>div:nth-child(3) div>span>div{
    background-color: rgb(250, 31, 31)!important;
    color: aliceblue!important;
}
.tuijian>div:nth-child(4) div>span>div{
    background-color: rgba(199, 196, 13, 0.589)!important;
    color: aliceblue!important;
}