.background{
    background:url("/img/1.jpg")no-repeat;
    background-size: 100% 100%;
    height: 750px;
    margin: 0em;
}
.header{
    width: 100%;
    margin:0em;
    border-bottom:1px solid rgb(173, 173, 173);
}
.header1{
    width: 90em;
    margin: 0em auto;
    
}
.header1 span{
    font-size: 3em;
}
.header1 span:first-child{
    color: darkgray;
}
.header1 span:last-child{
    color: rgb(67, 140, 236)
}
.body{
    width: 100%;
    margin:0em;
}
.body1{
    position: relative;
    top: -40px;
    left: 450px;
    width: 25em;
    height: 26em;
    margin: 0em auto;
    border: 1px solid rgb(173, 173, 173);
    margin-top: 8em;
}
.body1 div:nth-child(2){
    font-size: 2em;
    width: 2em;
    margin: 0 auto;
    margin-top: 0.5em;
    font-weight: bold;
}
.body2{
    padding-top: 10px;
    margin: 0 auto;
    width: 21em;
}
.body2 input{  
    margin-top: 25px;
    width: 294;
    height: 35px;
    font-size: 1.5em;
}
.body2>input:first-child{
    background-image: url("/img/2.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.body2>input:last-child{
    background-image: url("/img/3.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.clearfix::after{
    clear:both;
    display: block;
    content: " ";
}
.body1>div:nth-child(4){
    margin: 0 auto;
    width: 21em;
}

.fix{
    float: left;
}
.fix1{
    float: right;
}
.body3{
    padding-top: 1.5em;
    margin: 0 auto;
    width: 330px;
    
}
.body3 button{
    border-radius: 1.5rem;
    width: 330px;
    height: 3em;
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    margin-top: 5px;
    cursor: pointer;
}

.body3 span{
    font-size: 1.5em;
}

.checboxInput{
    position: relative;
    top: 1px;
    cursor: pointer;
}

.line{
    position: relative;
    top: 10px;
    left: 2px;
}
.back{
    position: relative;
    left: 260px;
    text-align: center;
    border-radius: 1.5rem;
    width: 80px;
    height: 25px;
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    margin-top: 5px;
    cursor: pointer;
}
